@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.page {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 3fr 3fr;
	grid-template-rows: 20% 1fr 1fr;
	grid-template-areas: 
		"header header header"
		"sidebar main main"
		"sidebar main main";
	column-gap: 15px;
	row-gap: 10px;
	justify-items: stretch;
	align-items: stretch;
	background-color: #462a05;
}
.headers {
	font-family: 'Aboreto', cursive;
}
#header-container { 
	display: grid;
	background-color:rgba(255, 255, 255, 1);
	grid-area: header;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
		"title"
		"image";
	justify-items: stretch;
	align-items: stretch;
}

#title-container { 
	background-image:conic-gradient(#e0a951, #b05315,#744509, #e0a951);
	grid-area: title;
	display: grid;
	place-items: center;
}
#page-title { 
	color:rgba(0, 0, 0, 1);
	text-align:center;	
	font-size:250%;
	letter-spacing: 70px;;
}
#images { 
	display: grid;
	grid-area: image;
	background-image: url('./src/images/glasses.jpg');
	background-size: 15%;
	background-repeat: repeat-x;
	background-color: #462a05;
	overflow: hidden;
}
#list-container { 
	background-image: url("./src/images/beerglass.jpg");
	background-position-y: center;
	background-position-x: 29%;
	display: grid;
	grid-area: sidebar;
	grid-template-rows: 40px auto;
	grid-template-areas: "title" "list";
}
#list-header { 
	display: grid;
	grid-area: title;
	justify-self: start;
	align-self: flex-end;
	color:rgb(255, 255, 255);
	text-align:left;
	font-size: 1.5vw;
	letter-spacing:7px;
	background-color: rgba(9, 73, 17, 0.616);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#brewery-list { 
	color:rgb(255, 255, 255);
	background-color: rgba(69, 69, 69, .69);
	border-radius: 15px;
	padding-top: 4%;
	display: grid;
	grid-area: list;
	font-family:Inter;
	text-align:left;
	font-size: 1fr;
	letter-spacing:0;
	overflow-y: scroll;
}
li {
	list-style-type: square;
}
#main-field {
	display: grid;
	grid-area: main;
	grid-template-rows: 2fr 3fr;
	grid-template-areas: "filter" "details";
	row-gap: 20px;
}
#brewery-details { 
	background-image: url("./src/images/barrels.jpg");
	background-position: bottom;
	display: grid;
	grid-template-rows: 15% 50% 7% 8% 20%;
	grid-template-areas: "type" "info" "state" "address" "name";
	align-items: end;
	grid-area: details;
	border-bottom-right-radius: 50px;
}
.details {
	display: grid;
	text-align:left;
	font-family:Inter;
	letter-spacing:0;
}
#details-name { 
	color:white;
	display: grid;
	grid-area: name;
	text-align:left;
	font-size: 3em;
	letter-spacing:5px;
	align-self: center;
}
#details-address { 
	color:white;
	display: grid;
	grid-area: address;
	font-size:1.5em;
	align-self: center;
}
#details-state { 
	color:white;
	display: grid;
	grid-area: state;
	font-size:1em;
	align-self: center;
}
#details-type { 
	color:white;
	display: grid;
	grid-area: type;
	font-family:Inter;
	text-align:right;
	margin-right: 5px;
	font-size:22px;
	letter-spacing:0;
}
#contact-info {
	display: grid;
	grid-area: info;
	align-self: center;
	justify-self: center;
	background-color: rgba(69, 69, 69, 0.69);
	padding: 3%;
	border-radius: 10px;
}
#details-url { 
	color:white;
	display: grid;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
#details-phone {
	color:white;
	display: grid;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;

}
#form-container { 
	background-image: url("./src/images/bb-taps.jpg");
	background-position:bottom;
	display: grid;
	grid-area: filter;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
#filter-form { 
	color:rgb(255, 255, 255);
	background-color: rgba(69, 69, 69, 0.69);
	height:30%;
	top: 0px;
	font-family:Inter;
	text-align:center;
	letter-spacing:7px;
	padding-bottom: 5%;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
#filter-header {
	font-size: 2.5em;
	justify-self: center;
	align-self: start;
}
.form-part {
margin-top: 5%;
}
label {
	background-color: rgba(69, 69, 69, 0.69);
	padding: 10px;
	border-radius: 10px;
	letter-spacing: 3px;
}
