.e1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e1_4 { 
	background-color:rgba(241.18749797344208, 156.77186608314514, 156.77186608314514, 1);
	width:1440px;
	height:268px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_5 { 
	color:rgba(0, 0, 0, 1);
	width:655px;
	height:99px;
	position:absolute;
	left:392px;
	top:25px;
	font-family:Jacques Francois Shadow;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e1_22 { 
	background-color:rgba(253.93750101327896, 87.82006680965424, 87.82006680965424, 1);
	width:1440px;
	height:138px;
	position:absolute;
	left:0px;
	top:130px;
}
.e1_7 { 
	background-color:rgba(229.56164181232452, 250.75000405311584, 169.2562633752823, 1);
	width:454px;
	height:756px;
	position:absolute;
	left:0px;
	top:268px;
}
.e1_8 { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:19px;
	position:absolute;
	left:19px;
	top:16px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e1_9 { 
	color:rgba(0, 0, 0, 1);
	width:229px;
	height:674px;
	position:absolute;
	left:71px;
	top:51px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e1_14 { 
	background-color:rgba(138.0275934934616, 239.09332394599915, 252.87500202655792, 1);
	width:869px;
	height:405px;
	position:absolute;
	left:503px;
	top:575px;
}
.e1_15 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:45px;
	position:absolute;
	left:0px;
	top:360px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e1_16 { 
	color:rgba(0, 0, 0, 1);
	width:79px;
	height:24px;
	position:absolute;
	left:20px;
	top:336px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e1_17 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:19px;
	position:absolute;
	left:20px;
	top:308px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e1_18 { 
	color:rgba(0, 0, 0, 1);
	width:38px;
	height:19px;
	position:absolute;
	left:807px;
	top:64px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e1_19 { 
	color:rgba(0, 0, 0, 1);
	width:370px;
	height:19px;
	position:absolute;
	left:250px;
	top:203px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e1_20 { 
	background-color:rgba(252.87500202655792, 140.13489961624146, 241.60094618797302, 1);
	width:869px;
	height:219px;
	position:absolute;
	left:503px;
	top:320px;
}
.e1_21 { 
	color:rgba(0, 0, 0, 1);
	width:248px;
	height:57px;
	position:absolute;
	left:311px;
	top:81px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
