@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.headers {
	font-family: 'Aboreto', cursive;
}
#header-container { 
	overflow:hidden;
}
#header-container { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
#title-container { 
	background-image:conic-gradient(#e0a951, #b05315,#744509, #e0a951);
	width:1440px;
	height:268px;
	position:absolute;
	left:0px;
	top:0px;
}
#page-title { 
	color:rgba(0, 0, 0, 1);
	width:800px;
	height:99px;
	position:relative;
	left:320px;
	top:-15px;
	text-align:center;	
	font-size:64px;
	letter-spacing:20px;
}
#image-container { 
	background-color:rgba(253.93750101327896, 87.82006680965424, 87.82006680965424, 1);
	background-image: url("src/brew-bar-img-1.jpg");
	width:1440px;
	height:138px;
	position:absolute;
	left:0px;
	top:130px;
}
#list-container { 
	background-color:rgba(229.56164181232452, 250.75000405311584, 169.2562633752823, 1);
	width:454px;
	height:1220px;
	position:absolute;
	left:9px;
	top: 276px;
}
#list-header { 
	color:rgba(0, 0, 0, 1);
	width:131px;
	height:19px;
	text-align:center;
	position:relative;
	margin-left: 10px;
	top: 20px;
	font-size:27px;
	letter-spacing:7px;
	background-color: rgba(0, 0, 0, 0.144);
	padding: 5px;
	border-radius: 5px;
}
#brewery-list { 
	color:rgba(0, 0, 0, 1);
	width:229px;
	height:674px;
	position:absolute;
	left:71px;
	top:51px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;

}
li {
	list-style-type: square;

}
#brewery-details { 
	background-color:rgba(138.0275934934616, 239.09332394599915, 252.87500202655792, 1);
	width:869px;
	height:405px;
	position:absolute;
	left:503px;
	top:575px;
	border-bottom-right-radius: 50px;
}
#details-name { 
	color:rgba(0, 0, 0, 1);
	width:800px;
	height:45px;
	position:absolute;
	left:20px;
	top:350px;
	text-align:left;
	font-size:40px;
	letter-spacing:5px;
}
.details {
	left:20px;
	text-align:left;
	font-family:Inter;
	letter-spacing:0;
	width:800px;
	background-color: darkolivegreen;
	padding: 4px;
}
#details-address { 
	color:rgba(0, 0, 0, 1);
	height:24px;
	position:absolute;
	top:323px;
	font-size:20px;
}
#details-state { 
	color:rgba(0, 0, 0, 1);
	height:19px;
	position:absolute;
	top:300px;
	font-size:16px;
}
#details-type { 
	color:rgba(0, 0, 0, 1);
	width:38px;
	height:19px;
	position:absolute;
	left:807px;
	top:10px;
	font-family:Inter;
	text-align:right;
	font-size:22px;
	letter-spacing:0;
}
#details-url { 
	color:rgba(0, 0, 0, 1);
	width:370px;
	height:19px;
	position:absolute;
	left:250px;
	top:203px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
#form-container { 
	background-image: url("src/bb-taps.jpg");
	background-position:bottom;
	width:869px;
	height:219px;
	position:absolute;
	left:503px;
	top:320px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
#filter-form { 
	color:rgb(255, 255, 255);
	background-color: rgba(69, 69, 69, 0.69);
	height:70px;
	left:311px;
	top: 0px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:7px;
	padding: 20px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
#filter-header {
	font-size: 40px;
}
label {
	background-color: rgba(69, 69, 69, 0.69);
	padding: 10px;
	border-radius: 10px;
	letter-spacing: 3px;
}